/* You can add global styles to this file, and also import other style files */
:root {
  --alabaster: #fcfcfc;
  --anakiwa: #afe8ff;
  --apple-blossom: #a94442;
  --aqua-haze: #f6f8f9;
  --aqua-spring: #e8f4f8;
  --athens-gray: #e8e9ec;
  --bondi-blue: #0087b9;
  --carrot-orange: #ee8a2c;
  --cerulean-blue: #2a52ad;
  --cerulean: #01abed;
  --chathams-blue: #105b7a;
  --dove-gray: #707070;
  --easterns-blue: #1595ba;
  --gray-chateau: #a6adb4;
  --fern: #6dba7c;
  --light-blue: #5bc0de;
  --light-blue_hover_bg: #31b0d5;
  --light-blue_hover_border: #269abc;
  --mona-lisa: #ff9494;
  --nobel: #b6b6b6;
  --porcelain: #f6f8f9;
  --shark: #202124;
  --silver: #bfbfbf;
  --silver-chalice: #9d9d9d;
  --sunset-orange: #ff4d4d;
  --thunderbird: #bf2e1f;
  --tulip-tree: #eaac3d;
  --tundora: #4e4e4e;
  --wild-sand: #f5f5f5;
  --titanium-white: #e5e5e5;
  --soft-peach: #f2dede;
  --harmonies: #ebccd1;
}
